<ng-container *ngIf="currentLevel">
  <div class="quiz-container">
    <div class="level-info">Play a short preview one of popular songs, and guess the track.</div>
    <div class="blocks">
      <div
        class="block"
        *ngFor="let track of currentTracks; let index = index"
        [ngClass]="{ 'block--correct': blockStates[index] === 'correct', 'block--wrong': blockStates[index] === 'wrong' }"
        (click)="selectTrack(index)"
        tabindex="0"
      >
        <div class="block-title">{{ track.name }}</div>
        <div class="block-subtitle">{{ track.artistsText }}</div>
        <button
          class="save-btn"
          [class.save-btn--saved]="savedTrackIds.has(track.id)"
          (click)="saveTrack(track, $event)"
          title="Save to your Liked Songs"
        >
          <fa-icon [icon]="savedTrackIds.has(track.id) ? checkIcon : plusIcon"></fa-icon>
        </button>
      </div>
    </div>
    <div class="action-btns">
      <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="playPreview()">
        <fa-icon [icon]="playIcon"></fa-icon>
      </button>
      <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="pausePreview()">
        <fa-icon [icon]="pauseIcon"></fa-icon>
      </button>
      <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="stopPreview()">
        <fa-icon [icon]="stopIcon"></fa-icon>
      </button>
    </div>
  </div>
</ng-container>
