<ng-container *ngIf="currentLevel">
  <div class="quiz-container">
    <div class="level-info">{{ levelInfo[currentLevel.id] }}</div>
    <app-audio-visualizer
      [isPlaying]="isPlaying"
      [disabled]="transitioning || !currentTracks"
      (toggle)="togglePreview()"
    ></app-audio-visualizer>

    <div class="blocks-wrapper">
      <app-music-animation *ngIf="transitioning"></app-music-animation>
      <app-level-caption *ngIf="!transitioning && !currentTracks" [level]="currentLevel"></app-level-caption>
      <div class="blocks" *ngIf="!transitioning && currentTracks">
        <div
          class="block"
          *ngFor="let track of currentTracks; let index = index"
          [ngClass]="{ 'block--correct': blockStates[index] === 'correct', 'block--wrong': blockStates[index] === 'wrong' }"
          (click)="selectTrack(index)"
          tabindex="0"
        >
          <div class="block-capture">
            <div class="block-title">{{ track.name }}</div>
            <div class="block-subtitle">{{ track.artistsText }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="question-progress">Question {{ questionNumber }} of {{ totalQuestions }}</div>
  </div>
</ng-container>
