<ng-container *ngIf="currentLevel">
    <div class="quiz-container">
        <div class="level-info">Play a short preview one of your favourite songs, and guess the track.
        </div>
        <div class="blocks">
            <div class="block" *ngFor="let track of currentTracks; let index = index" (click)="selectTrack(index)">
                <div class="block-title">{{ track.name}}</div>
                <div class="block-subtitle">{{ track.artistsText }}</div>
            </div>
        </div>
        <div class="action-btns">
            <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="playPreview()">
                <fa-icon [icon]="playIcon"></fa-icon>
            </button>
            <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="pausePreview()">
                <fa-icon [icon]="pauseIcon"></fa-icon>
            </button>
            <button [class]="'start-level-btn start-level-btn-' + currentLevel.id" (click)="stopPreview()">
                <fa-icon [icon]="stopIcon"></fa-icon>
            </button>
        </div>

    </div>
</ng-container>