@import "../theme/colors";

:host::ng-deep {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        padding: 3.5rem;

        .content {
            width: 100%;
            height: 100%;
            padding: 3.5rem;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

            &.green {
                box-shadow: $neon-green 0px 0px 70px;
            }

            &.yellow {
                box-shadow: $neon-yellow 0px 0px 70px;
            }

            &.orange {
                box-shadow: $neon-orange 0px 0px 70px;
            }
        }
    }

    .login-btn {
        width: 20rem;
        height: 10rem;
        background-color: $neon-green;
        color: $black;
        font-size: 2rem;
        border: none;
        border-radius: 13px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow:
            0 0 40px 20px $white,
            0 0 80px 40px $neon-yellow,
            0 0 100px 50px $neon-green;

        &:hover {
            box-shadow:
                0 0 40px 20px $white,
                0 0 70px 30px $neon-yellow,
                0 0 90px 40px $neon-green;
        }

        &>p {
            margin: 0;
        }
    }
}